<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="content">
        <%- include('partials/header') %>
        <% if (locals.currentUser) { %>
            <p>Welcome <%= currentUser.username %>, head over to the <a href="/vip-form">VIP area!</a></p>
        <%} else { %>
            <p>Welcome stranger, please <a href="/login">login</a> or <a href="/sign-up">sign up!</a></p>
        <%}%>
        <% if(locals.currentUser){ %>
            <p style="margin-top: 24px;"><a href="/mirror">Write a message on the bathroom mirror</a></p>
        <%}%>
        
        
        <div class="mirror">
            <% if(locals.messages) { %>
                <%messages.forEach(message => { %>
                    <div class="message">
                        <% if(locals.currentUser && locals.currentUser.membership === 'vip' ){ %>
                            <p class="mirror-username"><%= message.username %></p> 
                            <p class="mirror-time"><%= message.createdat %></p>
                        <%}%>
                        <p><%= message.message %></p>
                        <% if(locals.currentUser && locals.currentUser.isadmin ){ %>
                            <form action="/mirror/<%= message.id %>/delete" method="POST">
                                <button type="submit">Delete Message</button>
                            </form>
                        <%}%>
                    </div>
                    
                <%})%>
            <%}%><%  %>
        </div>
        
    </div>
    
</body>
</html>