<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="content">
        <%- include('partials/header') %>


        <form action="/mirror" method="POST">
            <label for="message">Write a message on the bathroom mirror for everyone to see</label>
            <br>
            <textarea rows="5" cols="30" name="message" id="message"></textarea>
            <br>
            <button type="submit">Write It</button>
        </form>

        <a href="/" style="margin-top: 24px;">Go back to the bar</a>

        <div class="mirror">
            <% if(locals.messages) { %>
                <%messages.forEach(message => { %>
                    <div class="message">
                        <% if(locals.currentUser && locals.currentUser.membership === 'vip' ){ %>
                            <p class="mirror-username"><%= message.username %></p> 
                            <p class="mirror-time"><%= message.createdat %></p>
                        <%}%>
                        <p><%= message.message %></p>
                        <% if(locals.currentUser && locals.currentUser.isadmin ){ %>
                            <form action="/mirror/<%= message.id %>/delete" method="POST">
                                <button type="submit">Delete Message</button>
                            </form>
                        <%}%>
                    </div>
                    
                <%})%>
            <%}%><%  %>
        </div>
    </div>

</body>

</html>